<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "_//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.mapper.ReplyMapper">

	<insert id="insert">


		insert into tbl_reply (rno, bno, reply, replyer)
		values ((select nextval('seq_reply') from dual ), #{bno}, #{reply},
		#{replyer})

	</insert>

	<select id="read" resultType="org.zerock.domain.ReplyVO">
		select * from tbl_reply where rno =
		#{rno}
	</select>

	<delete id="delete">
		delete from tbl_reply where rno = #{rno}
	</delete>

	<update id="update">
		update tbl_reply
		set reply = #{reply},
		updateDate =
		current_timestamp
		where rno = #{rno}
	</update>

	<!-- <select id="getListWithPaging" resultType="org.zerock.domain.ReplyVO"> 
		select rno, bno, reply, replyer, replyDate, updateDate from tbl_reply where 
		bno = #{bno} order by rno asc </select> -->

	<select id="getListWithPaging"
		resultType="org.zerock.domain.ReplyVO">
	
	<![CDATA[
		
	 SELECT * FROM ( SELECT @RN := @RN + 1 AS RN, 
	 TBL_REPLY.*  FROM TBL_REPLY AS TBL_REPLY USE INDEX (idx_reply)
	  CROSS JOIN (SELECT @RN := 0) AS R
                WHERE TBL_REPLY.BNO = #{bno} ) 
                AS R WHERE RN > (#{cri.pageNum}-1) * #{cri.amount} 
                LIMIT #{cri.amount};
	]]>
	</select>

	<!-- 댓글의 숫자 파악  -->
	<select id= "getCountByBno" resultType = "int">
		<![CDATA[		
			SELECT COUNT(rno) FROM TBL_REPLY WHERE bno = #{bno};
		]]>
	
	</select>



</mapper>